{% extends 'base.html' %}
{% block main %}
{%load static%}
<style>
   
</style>
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Our Vision</h1>

    </div>
</div>
<div class="row my-4">
    <div class="col-md-4">
        <img src="{%static 'images/owner.png'%}" alt="" width="100%">
    </div>
    <div class="col-md-8">
<h3>
Our Founder,Lorem ipsum dolor, sit amet consectetur adipisicing elit.
</h3> 
<br><br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ad sint ipsa accusantium. Optio maxime, molestias magnam necessitatibus sint facere ducimus ullam saepe rem cumque eligendi! Sed, at assumenda maxime soluta aspernatur ex minima quidem. Unde sunt obcaecati accusamus libero cum, voluptate minima quaerat suscipit, eveniet aspernatur laborum?</p>
   </div>
</div>

<div class="row my-4">
    <div class="col-md-9 bg-dark text-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo dolore eaque odit dolores reprehenderit esse consequatur laboriosam nobis? Quae, tenetur voluptates corrupti odit doloribus magnam similique quisquam dolores adipisci fuga vitae aut vel accusamus reiciendis voluptatum officiis modi sapiente error dignissimos, molestiae ab molestias, reprehenderit veniam. Rerum perspiciatis porro odit accusamus temporibus dolores tempore doloribus ad quasi?</p>
    </div>
    <div class="col-md-3">
        <img src="{%static 'images/a1.jpg'%}" alt="" width="100%">
    </div>
</div>
<div class="row my-4" >
    <div class="col-md-3">
        <img src="{%static 'images/a2.jpg'%}" alt="" width="100%">
    </div>
    <div class="col-md-9  bg-dark text-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo dolore eaque odit dolores reprehenderit esse consequatur laboriosam nobis? Quae, tenetur voluptates corrupti odit doloribus magnam similique quisquam dolores adipisci fuga vitae aut vel accusamus reiciendis voluptatum officiis modi sapiente error dignissimos, molestiae ab molestias, reprehenderit veniam. Rerum perspiciatis porro odit accusamus temporibus dolores tempore doloribus ad quasi?</p>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60282.792977104116!2d73.06456208746083!3d19.209411528798018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7958ef72d8707%3A0x84bf6ab96e280b08!2sDombivli%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1610955285686!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-md-6">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/AQSZHKmWIM8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>














{% endblock main %}
