{%load static%}
<div class="row my-4">
    <div class="col-md-4 col-sm-6 col-s-12">
      <div class="card">
          <img src="{%static 'images/1.jpg'%}" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Class Room
  
              </h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatibus hic explicabo aliquid consequuntur!</p>
  <a href="#" class="btn btn-danger"> Read more text </a>
  
            </div>
      </div>
  </div>
    <div class="col-md-4 col-sm-6 col-s-12">
      <div class="card">
          <img src="{%static 'images/2.jpg'%}" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Campus
  
              </h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatibus hic explicabo aliquid consequuntur!</p>
  <a href="#" class="btn btn-danger"> Read more text </a>
  
            </div>
      </div>
  </div>
    <div class="col-md-4 col-sm-6 col-s-12">
      <div class="card">
          <img src="{%static 'images/3.jpg'%}" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Library
  
              </h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatibus hic explicabo aliquid consequuntur!</p>
  <a href="#" class="btn btn-danger"> Read more text </a>
  
            </div>
      </div>
  </div>
  </div>
  