
{% extends 'base.html' %}
{% block main %}
{% load static %}

{% include 'slider.html' %}
{% include 'cam_lib.html' %}

<div class="row">

<div class="row my-4">
  <div class="col-md-6">
<h2>Our Programs</h2> 
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolor molestias harum exercitationem eaque velit in voluptates vel iure! Rem esse assumenda dolore, explicabo corrupti molestias quis neque libero harum reprehenderit impedit repellat optio exercitationem magnam placeat blanditiis repudiandae atque consequatur nulla qui dolor. Officiis impedit laborum pariatur ea aliquid nesciunt non ipsum blanditiis accusantium dolores, quam corrupti obcaecati doloremque sapiente vel, consequatur mollitia!</p>
 </div>
  <div class="col-md-6">
    <div class="col-md-4">
        <img src="{%static 'images/ban2.jpg'%}" class="img-fluid" alt="">
    </div>
<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore.</h1>
        </div>
    </div>

    
    <div class="row">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque modi dolorum voluptates quidem maxime eum quos suscipit voluptatum, tenetur ea sint saepe soluta nulla reprehenderit.</p>
    </div>
    <div class="row">
<div class="col-md-12">
    <button class="btn btn-primary">Read More</button>
</div>
    </div>
</div>
  </div>
</div>
{% endblock main %}
