{% extends 'teacherhome.html' %}

{% block teacher %}
 <div class="row my-5">
    <div class="card-deck">

        <div class="card bg-primary">
          <div class="card-header">Total Student</div>
          <div class="card-body">
            <div class="card-title mx-auto"><i class="fa fa-users fa-5x" aria-hidden="true"></i>
</div>
            <div class="card-text">
              {{totalstudent}}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Subject</div>
          <div class="card-body">
            <div class="card-title">Title2</div>
            <div class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consequatur alias at asperiores magni.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">HEader</div>
          <div class="card-body">
            <div class="card-title">Title3</div>
            <div class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consequatur alias at asperiores magni.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">HEader</div>
          <div class="card-body">
            <div class="card-title">Title4</div>
            <div class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consequatur alias at asperiores magni.
            </div>
          </div>
        </div>


      </div>
 </div>  
      
{% endblock teacher %}